@{
    Layout = "";
}
@model CRUD1_3_17_19.Models.ALUMNO
<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- styles -->
    <!--<link href="css/styles.css" rel="stylesheet">-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/template/css/styles.css" rel="stylesheet" />
</head>
<body class="login-bg">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="index.html">Bootstrap Admin Theme</a></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-content container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-wrapper">
                    <div class="box">
                        <div class="content-wrap">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                            {
                                //this is for create form tag
                                @Html.AntiForgeryToken() // this is for prevent CSRF attack
                                @Html.ValidationSummary(true)
                                @ViewBag.message
                                @ViewBag.AuthFilterMessage

                                <h6>Sign In</h6>

                                @Html.TextBoxFor(a => a.NOMBRES, new { @class = "form-control", @placeholder = "Ingrese el nombre" })
                                @Html.PasswordFor(a => a.APELLIDOS, new { @class = "form-control", @placeholder = "Ingrese apellido" })
                                <div class="action">
                                    <a class="btn btn-primary signup" href="index.html">Login</a>
                                    <input type="submit" value="iniciar sesion" class="btn btn-primary signup" />
                                </div>
                            }
                        </div>

                        </div>

                        <div class="already">
                            <p>Don't have an account yet?</p>
                            <a href="signup.html">Sign Up</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--<script src="bootstrap/js/bootstrap.min.js"></script>-->
    <!--<script src="js/custom.js"></script>-->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/template/js/custom.js"></script>
</body>
</html>
